.media
  .media-left
    %img.media-object{:src => "#{(gravatar_url(comment.user))}", :height => "42", :width => "42"}/
  .media-body
    %h4.media-heading
      %small
    %p
      = comment.text
      - if current_user == comment.user
        = link_to 'delete comment', comment_path(comment), :method => :delete
