.col-sm-4
.col-sm-4
  - if user_signed_in?
    - @users.each do |user|
      %h3
        - if current_user.id == user.id
        - else
          = gravatar_for user
          = link_to user.email, show_user_path(user.id)
          - if pending_invite?(current_user, user)
            invite pending...
          - elsif friend?(current_user, user)
            friend
          - elsif invited?(current_user,user)
            = link_to 'Accept invite', friendship_create_path(:friend_id => user.id)
          - else
            = link_to 'Invite friend', invites_create_path(:sender_id => current_user.id, :recever_id => user)

.col-sm-4
